@import url("/vendors/normalize.css");
@keyframes pulsate {
    0%{  opacity: 0;
    }
    50%{
        opacity:.6;
    }
    100%{
        transform: scale(1.3);
        opacity: 0;
    }
}
html{
    font-family: 'Inter', 'Arial', sans-serif;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}
.page{
    min-width:1100px;
    max-width:1600px;
    margin:auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.header{
    background-image: url(../images/background_header.svg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height:100vh;
    min-height:720px;
    max-height:800px;
    position:relative;
}
.header__image{
    position: absolute;
    top:124px;
    right:5px;
    width:646px;
    height:568px;
    }

.header__title{
    max-width:729px;
    margin-top:80px;
    margin-left:80px;
    margin-bottom:28px;
    font-family: Inter;
font-weight: 500;
font-size: 60px;
line-height: 72px;
position:absolute;
z-index:3;


}
.header__span-accent{
    font-family: 'Noto Serif';
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}
.header__description{
    margin-left:80px;
    max-width:683px;
    margin-top: 250px;
    margin-bottom: 0%;
    font-family: 'Noto Serif';
font-size: 20px;
line-height: 30px;

}
.header__paragraph{
    display:flex;
    justify-content:space-between;
    position:absolute;
    bottom:0;
   left: 80px;
   right:80px;
   bottom:40px;
   font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #6F6F6F;

}
.header__column_address{
    display:flex;
    align-items:flex-end;
}
.header__list{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.header__column_content{
    margin: 0%;
}
.header__column_label{
    margin: 0%;
}
 .logo{
    margin-top: 30px;
    margin-left:30px;
    width:125px;
    height:142px;
    }

.nav{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.nav__links{
    display:flex;
    align-items:center;
    column-gap:20px;
    margin-top:30px;
    margin-right:80px;
    margin-bottom: 0%;
    list-style:none;
    padding: 0%;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;

}
.nav__link{
color:black;
transition:color  .5s linear .5s;
text-decoration: none;
}

.nav__link:hover{
 color: #2F80ED; 
}

.main-content{
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-size:cover;
    background-repeat:no-repeat;
}

.menu__title{
    margin:auto;
    text-align: center;
    padding-top: 100px;
    max-width:780px;
    font-family: 'Inter';
font-size: 44px;
line-height: 52px;
color: #FFFFFF;
font-weight: 500;
}
.menu__subtitle{
    margin:auto;
    text-align: center;
    max-width: 780px;
    margin-top:24px;
    margin-bottom:0;
    font-family: 'Noto Serif';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.menu__cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    gap:100px;
    padding-bottom: 100px;
}
.card{
    max-width:600px;
    box-sizing: border-box;
    width:calc(50% - 50px);
}

.card__title{
    margin-top: 0%;
    margin-bottom: 32px;
    font-family: 'Inter';
font-weight: bold;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.card__list{
    list-style: none;
    padding:0;
    font-family: 'Noto Serif';
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
margin:0;
}

.card__list_item{
    display: flex;
    margin-bottom: 16px;
}
.card__list_divider{
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}
.recipes{
    background-color: #FFFFFF;
    background-image: url(../images/background_recipes.svg);
    background-size:cover;
    background-repeat:no-repeat;
}
.recipes__title{
    max-width: 580px;
    padding-top: 100px;
    padding-left: 80px;
    margin: 0;
    font-family: 'Inter';
font-weight: 500;
font-size: 44px;
line-height: 52px;
}
.recipes__subtitle{
    max-width: 438px;
    margin-top:24px;
    margin-bottom: 0px;
    margin-left: 80px;
    font-family: 'Noto Serif';
font-size: 20px;
line-height: 30px;
}
.recipes__videos{
    display:flex;
    justify-content: center;
    margin-top: 80px;
    gap:40px;
    padding-bottom: 215px;
}
.recipes__video-caption{
    display:flex;
    justify-content: space-between;
    font-family: 'Inter';
font-weight: 500;
font-size: 20px;
line-height: 30px;
}
.video{
    width: 480px;
    height:273px;
    border:0;
}
.reservation{
    background-color: #D9E7FF;
    background-image:url(../images/background_reservation.svg);
    background-size:cover;
    background-repeat:no-repeat;
}
.reservation__title{
    font-family: 'Inter';
font-weight: 500;
font-size: 44px;
line-height: 52px;
text-align:center;
padding-top:100px;
margin-bottom: 80px;
margin-top:0;
}

.reservation__form{
    padding-bottom:120px;
    max-width:385px;
    margin:auto;
    display:flex;
    flex-direction:column;
}

.form__fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    padding:0;
}
.form__label{
    font-family: "Inter", serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-bottom: 8px;
}
.form__input{
    max-width:385px;
    margin-bottom: 32px;
    height:60px;
    color: #838383;
font-size: 20px;
padding-left:20px;
}

.form__button{
    border-radius: 4px;
    border-color: #838383;
    transition: opacity .5s linear .5s;
    font-family: 'Inter', serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-bottom: 32px;
height:60px;
background: #2F80ED;
color: #FFFFFF;
}
.terms-of-use{
    display:flex;
    flex-direction: row;
    gap:12px;
    justify-content: center;
}
.form__checkbox{
    width:20px;
    height:20px;
}
.form__button:hover{
    opacity:70%;
}
.about{
    position:relative;
    overflow: hidden;
    display:flex;
    box-sizing: border-box;
    justify-content: flex-end;
    background-color: #0a2750;
}
.about__circle{
        background-color: #2f80ed;
        width: 426px;
        height: 426px;
        border-radius: 50%;
        position: absolute;
        top:-152px;
        left:-129px;
      }

.about__circle_animation_blurred{
    animation: pulsate 1.3s ease-in-out 0s infinite;
}

.about__title{
    position: absolute;
    z-index:3;
    top:100px;
    left:80px;
    max-width: 251px;
    font-family: 'Inter',serif;
font-weight: 500;
font-size: 44px;
line-height: 52px;
color:#FFFFFF;
margin:0;
z-index: 1;
}
.about__content{
    max-width: 660px;
margin-left:auto;
margin-right:80px;
margin-top: 119px;
margin-bottom:173px;
display:flex;
flex-direction: column;
gap:20px;
}
.about__paragraph{
    margin:0;
    font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.footer{
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}
.footer__logo{
    width:152px;
    height:32px;
}
.footer__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:80px;
    margin-right: 100px;
    padding-top:60px;
    margin-bottom: 108px;
}

.footer__list-item{
    list-style: none;
}
.footer__social-link{
    color:#FFFFFF;
    transition:color .5s linear .5s;
    display:flex;
    gap:10px;
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
.footer__social-link:hover{
    color:#C1C1C1;
}
.footer__social-heading{
    margin-bottom:20px;
    margin-top: 0;
    color:#FFFFFF;
    font-family: 'Inter';
font-weight: bold;
font-size: 16px;
line-height: 20px;
}
.footer__social-icon{
    width:16px;
    height:16px;
    position: relative;
    top:2.5px;
    bottom:4px;
}
.footer__list{
    padding:0;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.footer__copyright{
    margin-left:80px;
    padding-bottom: 60px;
    color:#FFFFFF;
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}